.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navmenu {
  margin-bottom: 20px;
}

.navmenu button {
  padding: 10px;
  background-color: #2e3244;
  color: white;
  border: 1px solid #2e3244;
  border-radius: 5px;
  outline: none;
  font-size: large;
  font-weight: 600;
}

.navmenu button:hover {
  background-color: #646eff;
}

.form-container {
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 10px;
  min-width: 250px;
  transition: transform ease-out 2s;
}

.add-task-form {
  display: flex;
  flex-direction: column;
}

.add-task-form input,
textarea {
  padding: 10px;
}

.add-task-form textarea {
  height: 80px;
}

.add-task-form label,
.checkbox {
  padding: 10px 0 10px 0;
}

.add-task-form span {
  font-size: 12px;
  color: #ff4b4b;
  margin-top: 5px;
}

.required::after {
  content: "*";
  color: #fd2828;
}

.task-container {
  background-color: #f6f6f6;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 10px;
  min-width: 300px;
  transition: transform ease-out 2s;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.task {
  width: 70vw;
  background-color: #dfe1ff;
  border: 2px solid #646eff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  max-width: 800px;
}

.task h3 {
  color: rgb(54, 54, 54);
}

.class-detail-button {
  height: 35px;
  border: none;
  outline: none;
}
